@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
*{
    text-decoration: none !important;
}
html,body{
    background-color: #131313;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.contact-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-area{
    width: 50%;
    height: auto;
    margin: 25px 0px;
    padding: 25px;
    background-color: white; 
    
}
.contact-header{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 10px;
    background-color: white;
    border-top: 2px dashed gray;
    border-left: 2px dashed gray;
    border-right: 2px dashed gray;
    box-shadow: 0px 0px 2px 1px #131313;
}
.header-text{
    font-size: 20px;
    font-weight: 700;
}
.contact-body{
    width: 100%;
    height: auto;
    padding: 15px 10px;
    background-color: white;
    border: 2px dashed gray;
    box-shadow: 0px 0px 2px 1px #131313;
}
.contact-field{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.contact-field-sub{
    width: 45%;
    height: auto;   
    padding: 5px 5px;
    margin: 5px;
}
.contact-field-msg-sub{
    width: 100%;
    height: auto;   
    padding: 5px 14px;
    margin: 5px;
}
.primary-field{
    width: 80%;
    height: 40px;
    font-weight: 500;
    position: relative;
    background-color: white;
    left: 40px;
    border: 0.5px solid rgb(175, 175, 175);
}
.primary-field-textarea{
    width: 100%;
    height: 120px !important;
    padding: 10px 10px 10px 45px;
    font-weight: 500;
    position: relative;
    background-color: white;
    border: 0.5px solid rgb(175, 175, 175);
}
.primary-field-msg-icon{
    width: 40px !important;
    height: 40px;
    line-height: 40px;
    background-color: white;
    position: absolute;
    text-align: center;
    border: 0.5px solid rgb(175, 175, 175);
    z-index: 10;
}
.primary-field-icon{
    width: 40px !important;
    height: 40px;
    line-height: 40px;
    background-color: white;
    position: absolute;
    text-align: center;
    border-left: 0.5px solid rgb(175, 175, 175);
    border-top: 0.5px solid rgb(175, 175, 175);
    border-bottom: 0.5px solid rgb(175, 175, 175);
}
.primary-field-icon i{
    font-size: 20px !important;
}
.primary-field-msg-icon i{
    font-size: 20px !important;
}
.label-text{
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px !important;
}
.form-control{
    border-radius: 0px !important;
}
.my-btn{
    border: 2px dashed black;
    padding: 8px 35px;
    margin: 5px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px gray;
    transition: 0.5s ease-in-out;
}
.my-btn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 1px black;
}
.error{
    color: red !important;
    font-size: 13px;
    padding: 3px;
    margin-bottom: 0px !important;
    box-shadow: inset 0px 0px 1px 1px gray;
}
.success-msg{
    padding: 5px 35px;
    margin: 10px auto;
    box-shadow: 0px 0px 3px 1px green;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}